<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ứng dụng quản lý thư viện</title>
    <script src="~/Assets/Scripts/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap core CSS-->
    <link href="/Assets/Layout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Assets/Layout/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Assets/Layout/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Assets/Layout/css/sb-admin.css" rel="stylesheet">
    <link href="~/Assets/css/datepicker.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/library.ico" />
    <script src="~/Assets/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/highcharts-v5.0.6.js"></script>
    @{ 
        var account = (Model.eBookData.Account)Session["CurrentAccount"];
        var checkAdmin = account.Role != "admin";
    }
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Home/Index">Quản Lý Thư Viện</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Trang Chủ">
                    <a class="nav-link" href="/Home/Index">
                        <i class="fa fa-home"></i>
                        <span class="nav-link-text">Trang Chủ</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Thống Kê" >
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCharts" data-parent="#exampleAccordion" >
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Thống Kê</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseCharts">
                        <li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="/Manage/GetBookBorrowsById">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Sách mượn nhiều nhất</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Manage/GetBookBorrows">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Mượn Sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Manage/GetBookReturns">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Trả Sách</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Sách" >
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBooks" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">Quản Lý Sách</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseBooks">
                        <li>
                            <a href="/Book/GetAllBooks">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Danh sách Sách</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="/Book/Create">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Thêm Sách</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li @if (checkAdmin) { <text> hidden</text> } class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Người Dùng">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Quản Lý Người Dùng</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseUsers">
                        <li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/GetAllAccounts">
                                <i class="fa fa-fw fa-user-circle"></i>
                                <span>Danh Sách Người Dùng</span>
                            </a>
                        </li>
                        <li @if (!checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/GetAllAccounts">
                                <i class="fa fa-fw fa-user-circle"></i>
                                <span>Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/Create">
                                <i class="fa fa-fw fa-user-plus"></i>
                                <span>Tạo Người Dùng</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cài Đặt">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-cog"></i>
                        <span class="nav-link-text">Cài Đặt</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseSettings">
                        <li>
                            <a href="/Account/AccountInfo">
                                <i class="fa fa-fw fa-wrench"></i>
                                <span>Thông tin tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Account/ChangePassword">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Thay đổi mật khẩu</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="/Class/GetAllClasss">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Quản lý lớp học</span>
                            </a>
                        </li>                       
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="float:right">
                <li class="nav-item">
                    <a href="/Account/AccountInfo" class="nav-link" >
                        <i>Xin chào: @account.UserName</i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" onclick="openPopupLogout()">
                        <i class="fa fa-fw fa-sign-out"></i>Đăng Xuất
                    </a>                    
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © DATN - Tran Duc Bien 2018.</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn thoát tài khoản?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Chọn đăng xuất nếu bạn muốn thoát khỏi trang.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-primary" onclick="logout()">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        @*<script src="/Assets/Layout/vendor/jquery/jquery.min.js"></script>*@
        <script src="/Assets/Layout/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/Assets/Layout/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/Assets/Layout/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/Assets/Layout/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/Assets/Layout/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/Assets/Layout/js/sb-admin-datatables.min.js"></script>
        <script src="/Assets/Themes/bootstrap/js/bootstrap.js"></script>
        <script src="/Assets/Themes/bootstrap/js/bootstrap.min.js"></script>
        <link href="/Assets/Themes/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Assets/css/default.css" rel="stylesheet" />
    </div>
</body>

</html>

<script>
    function openPopupLogout(id) {
        $('#exampleModal').modal('show');
    }
    function logout() {
        $.ajax({
            type: "POST",
            url: '/Account/Logout',
            dataType: "json",
            success: function (response) {
                $('#exampleModal').modal('hide');

                setTimeout(function () {
                    window.location.href = "/Account/Login";
                }, 500);
            },
            error: function (error) {

            }
        });
    }
</script>