<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <script src="~/Assets/Scripts/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap core CSS-->
    <link href="/Assets/Layout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Assets/Layout/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Assets/Layout/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Assets/Layout/css/sb-admin.css" rel="stylesheet">
    <link href="~/Assets/css/datepicker.css" rel="stylesheet" />
    <script src="~/Assets/Scripts/bootstrap-datepicker.js"></script>
    @{ 
        var account = (Model.eBookData.Account)Session["CurrentAccount"];
        var checkAdmin = account.Role != "admin";
    }
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Quản Lý Thư Viện</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Trang Chủ">
                    <a class="nav-link" href="/Book/GetAllBooks">
                        <i class="fa fa-home"></i>
                        <span class="nav-link-text">Trang Chủ</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Thống Kê" >
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCharts" data-parent="#exampleAccordion" >
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Thống Kê</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseCharts">
                        <li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Người sử dụng</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Manage/GetBookBorrows">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Mượn Sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Manage/GetBookReturns">
                                <i class="fa fa-fw fa-area-chart"></i>
                                <span>Trả Sách</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Sách" >
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBooks" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">Quản Lý Sách</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseBooks">
                        <li>
                            <a href="/Book/GetAllBooks">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Danh sách Sách</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="/Book/Create">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Thêm Sách</span>
                            </a>
                        </li>
                        @*<li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Mượn/Trả Sách</span>
                            </a>
                        </li>*@
                        @*<li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Sửa Sách</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) {<text>hidden</text> }>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-book"></i>
                                <span>Xóa Sách</span>
                            </a>
                        </li>*@
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Người Dùng">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Quản Lý Người Dùng</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseUsers">
                        <li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/GetAllAccounts">
                                <i class="fa fa-fw fa-user-circle"></i>
                                <span>Danh Sách Người Dùng</span>
                            </a>
                        </li>
                        <li @if (!checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/GetAllAccounts">
                                <i class="fa fa-fw fa-user-circle"></i>
                                <span>Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li @if (checkAdmin) { <text> hidden</text> }>
                            <a href="/Account/Create">
                                <i class="fa fa-fw fa-user-plus"></i>
                                <span>Tạo Người Dùng</span>
                            </a>
                        </li>
                        @*<li>
                            <a href="/Account/Create">
                                <i class="fa fa-fw fa-user-plus"></i>
                                <span>Tạo Người Dùng</span>
                            </a>
                        </li>*@
                        @*<li>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Cập Nhật Người Dùng</span>
                            </a>
                        </li>
                        <li>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-user-times"></i>
                                <span>Khóa Người Dùng</span>
                            </a>
                        </li>*@
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cài Đặt">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-cog"></i>
                        <span class="nav-link-text">Cài Đặt</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseSettings">
                        <li>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-wrench"></i>
                                <span>Cài Đặt Tài Khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="navbar.html">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Cài Đặt Khác</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="float:right">
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block" style="visibility: hidden;">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all alerts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Tìm kiếm...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" >
                        <i>Xin chào: @account.UserName</i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Đăng Xuất
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Tran Duc Bien 2018.</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn thoát tài khoản?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Chọn đăng xuất nếu bạn muốn thoát khỏi trang.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-primary" href="/Account/Login">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        @*<script src="/Assets/Layout/vendor/jquery/jquery.min.js"></script>*@
        <script src="/Assets/Layout/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/Assets/Layout/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/Assets/Layout/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/Assets/Layout/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/Assets/Layout/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/Assets/Layout/js/sb-admin-datatables.min.js"></script>
        <script src="/Assets/Themes/bootstrap/js/bootstrap.js"></script>
        <script src="/Assets/Themes/bootstrap/js/bootstrap.min.js"></script>
        <link href="/Assets/Themes/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Assets/css/default.css" rel="stylesheet" />
    </div>
</body>

</html>