@model Model.eBookData.Class
@{
    ViewBag.Title = "Thêm mới lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="margin-bot-20" style="text-align:center">Thêm mới lớp</h2>

<form id="form-data" @*form action="/Class/Create" method="post"*@>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-4"><label class="pull-right pad-top-8">Mã lớp</label></div>
        <div class="col-lg-8">
            <input class="form-control width-300" type="text" value="@Model.ClassCode" name="ClassCode" />
        </div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-4"><label class="pull-right pad-top-8">Tên lớp</label></div>
        <div class="col-lg-8">
            <input class="form-control width-300" type="text" value="@Model.ClassName" name="ClassName" />
        </div>
    </div>
    <div class="col-lg-12 margin-bot-20">
        <div class="col-lg-4"><label class="pull-right pad-top-8"></label></div>
        <div style="float:left;width:300px">
            <a class="btn btn-primary pull-right" onclick="createClass()">Thêm mới</a>
        </div>
    </div>
</form>

<script>
    function createClass() {
        $.ajax({
            type: "POST",
            url: '/Class/Create?' + $("#form-data").serialize(),
            dataType: "json",
            success: function (response) {
                alert(response);
                setTimeout(function () {
                    window.location.href = "/Class/GetAllClasss";
                }, 1000);
            },
            error: function (error) {

            }
        });
    }
</script>